apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-ingress
  namespace: argocd
  annotations:
    argocd-image-updater.argoproj.io/image-list: controller=k8s.gcr.io/ingress-nginx/controller:~1, certgen=k8s.gcr.io/ingress-nginx/kube-webhook-certgen:~1
    argocd-image-updater.argoproj.io/controller.helm.image-name: controller.image.repository
    argocd-image-updater.argoproj.io/controller.helm.image-tag: controller.image.tag
    argocd-image-updater.argoproj.io/controller.update-strategy: digest
    argocd-image-updater.argoproj.io/certgen.helm.image-name: controller.admissionWebhooks.patch.image.repository
    argocd-image-updater.argoproj.io/certgen.helm.image-tag: controller.admissionWebhooks.patch.image.tag
    argocd-image-updater.argoproj.io/certgen.update-strategy: digest
spec:
  destination:
    namespace: ingress-nginx
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  project: default
  source:
    chart: ingress-nginx
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.1.2
    helm:
      values: |
        controller:
          replicaCount: 2
          ingressClassResource:
            default: true
          watchIngressWithoutClass: true
          metrics:
            enabled: true
            serviceMonitor:
              enabled: true
