name: terrascan

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - k8s-the-easy-way/**
#  push:
#    branches-ignore:
#      - main
#    paths:
#      - k8s-the-easy-way/**

jobs:
  terrascan:
    runs-on: ubuntu-22.04
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      # - name: download terrascan
      #   run: |
      #     curl -L "$(curl -s https://api.github.com/repos/tenable/terrascan/releases/latest | grep -o -E "https://.+?_Linux_x86_64.tar.gz")" > terrascan.tar.gz
      #     tar -xf terrascan.tar.gz terrascan && rm terrascan.tar.gz
      #     sudo install terrascan /usr/local/bin && rm terrascan
      #     terrascan

      # - name: proint version terrascan
      #   run: |
      #     terrascan version

      - name: Run Terrascan
        id: terrascan
        uses: tenable/terrascan-action@v1.5.0
        with:
          iac_type: 'terraform'
          iac_version: 'v14'
          only_warn: true
          sarif_upload: true

      - name: Upload SARIF file
        if: ${{ github.actor!= 'dependabot[bot]' }}
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: terrascan.sarif
          category: terrascan
