name: tfsec

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - k8s-the-easy-way/**
  push:
    branches-ignore:
      - main
    paths:
      - k8s-the-easy-way/**

jobs:
  tfsec:
    name: Run tfsec
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: run tfsec
        uses: aquasecurity/tfsec-pr-commenter-action@v1.2.0
        with:
          tfsec_args: --exclude-downloaded-modules
          github_token: ${{ github.token }}

      - name: Upload output file
        if: ${{ github.actor!= 'dependabot[bot]' }}
        uses: actions/upload-artifact@v3
        with:
          name: tfsec-results.json
          path: results.json

      - name: Run tfsec with SARIF
        uses: tfsec/tfsec-sarif-action@v0.1.0
        with:
          tfsec_args: --exclude-downloaded-modules
          sarif_file: tfsec.sarif

      - name: Upload SARIF file
        if: ${{ github.actor!= 'dependabot[bot]' }}
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: tfsec.sarif
          category: tfsec
